@import "../../../styles/global.scss";

$colors: (
    bug: $bug,
    dark: $dark,
    dragon: $dragon,
    electric: $electric,
    fairy: $fairy,
    fighting: $fighting,
    fire: $fire,
    flying: $flying,
    ghost: $ghost,
    normal: $normal,
    grass: $grass,
    ground: $ground,
    ice: $ice,
    poison: $poison,
    psychic: $psychic,
    rock: $rock,
    water: $water,
    white: $white,
    darkcolor: $darkcolor,
    medium: $medium,
    light: $light,
    background: $background,
);

@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
}

.text-headline {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.text-subtitle1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.text-subtitle2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.text-subtitle3 {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
}

.text-regular {
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
}

.text-body3 {
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
}

.text-caption {
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
}