.sort-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}