.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    img {
        width: 150px;
        height: 150px;
        opacity: .5;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    img {
        animation: spin 4s linear infinite;
    }
}