@import '../../../styles/global.scss';

.home-page {
    background-color: $primary;
    padding-bottom: 2px;

    &__header {
        display: flex;
        gap: 16px;
        padding: 12px;
        align-items: center;
    }

    &__filters {
        display: flex;
        flex: 1;
        gap: 20px;
        padding: 0 12px;
    }
}