@import '../../../styles/global.scss';

$colors: (
    bug: $bug,
    dark: $dark,
    dragon: $dragon,
    electric: $electric,
    fairy: $fairy,
    fighting: $fighting,
    fire: $fire,
    flying: $flying,
    ghost: $ghost,
    normal: $normal,
    grass: $grass,
    ground: $ground,
    ice: $ice,
    poison: $poison,
    psychic: $psychic,
    rock: $rock,
    water: $water,
);

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }
}

@each $name, $color in $colors {
    .bglg-#{$name} {
        background-color: rgba($color, 0.3);
    }
}

.pokemon-detail {
    .pokeball-detail {
        position: relative;
        pointer-events: none;

        img {
            position: absolute;
            width: 200px;
            opacity: .1;
            right: 4px;
            top: 4px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        z-index: 10;

        &:nth-child(3),
        &:nth-child(1) {
            flex-shrink: 0;
        }
    }

    &__title {
        width: 100%;
        padding-inline: 8px;
        text-transform: capitalize;
    }

    &__image-container {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding-inline: 24px;
        z-index: 10;
    }

    &__back-page-button {
        cursor: pointer;
    }

    &__back-button {
        transform: rotate(180deg);
        cursor: pointer;
    }

    &__next-button {
        cursor: pointer;
    }
}

.pokemon-details-container {
    padding: 4px;
    margin-top: -60px;
}

.pills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 56px;
    margin-inline: 20px;
}

.sub-title {
    margin-top: 16px;
}

.properties-container {
    display: flex;
    margin-top: 16px;

    .property-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 103px;
        height: 48px;

        //styles to first and second child
        &:nth-child(1),
        &:nth-child(2) {
            border-right: 1px solid $light;
        }

        &__property {
            display: flex;
            gap: 8px;
            height: 100%;
            align-items: center;
        }
    }
}

.description-container {
    padding-inline: 20px;
    padding-top: 16px;
}

.stats-container {
    width: 100%;
    padding: 16px 20px 20px 20px;

    .stat-container {
        display: flex;
        column-gap: 8px;
        align-items: baseline;

        .stat-name {
            width: 31px;
            text-align: right;
            padding-right: 8px;
            border-inline-end: 1px solid $light;
        }

        .stat-bar {
            flex-grow: 1;
            height: 4px;
            border-radius: 4px;

            &__fill {
                height: 4px;
                border-radius: 4px;
            }
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: none;
}