.search-bar {
    grid-column: span 10 / span 10;
    position: relative;

    &__search-logo {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 9px;
        left: 12px;
    }

    &__close-logo {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 9px;
        right: -6px;
        cursor: pointer;
    }
}